[Unit]
Description=Home Device Monitor

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/home-device-monitor/src/device-monitor-service.py

[Install]
WantedBy=multi-user.target
